.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  margin: auto;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.images {
  width: 600px;
}
.img {
  position: relative;
}
img {
  object-fit: fill;
  width: 100%;
  height: 400px;
  display: none;
}
span {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
  font-size: 24px;
}
.active {
  display: block;
}
